* {
  box-sizing: border-box;
}

html {
  --user-photo-size: 100px;
}
body {
  padding: 10px;
}

.row {
  color: white;
}

.place-cards {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.user-card1 {
  margin: 20px auto;
  max-width: 350px;
  min-width: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
}
.user-card2 {
  margin: 20px auto;
  max-width: 350px;
  min-width: 250px;
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
}
.user-photo {
  width: var(--user-photo-size);
  height: var(--user-photo-size);
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  display: flex;
  align-content: center;
}
.content-conteiner {
  text-align: center;
}
